.parent {
  display: flex;
  
  flex-direction: column;
  
}

body {
  min-height: 100vh;
}
.container {
  width: 500px;
  height: 500px;
  margin: 2rem;
  overflow: auto;
  &.both {
    resize: both;
    background: #EF476F;
  }
  &.horizontal {
	resize: both;
    background: #FFD166;
}
  &.vertical {
    resize: both;
    background: #06D6A0;
  }
}

table {
  border-collapse: collapse;
  width: 80%; /* Adjust table width */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Add some space between table and action buttons */
td:last-child {
  padding-left: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

textarea {
  width: 100%; /* Make the textarea width 100% of its parent */
  padding: 10px;
  margin-top: 10px; /* Add margin to separate it from the buttons */
}



/* Styles for Add Count and Update Count */
.vertical.container p {
  font-size: 18px;
  margin-bottom: 8px;
}

.add-count {
  color: black; /* Green color for Add Count */
}

.update-count {
  color: black; /* Blue color for Update Count */
}